@model IEnumerable<EMS.Domain.ViewModels.OrgDivisionView>
@{
    ViewData["Title"] = "Organization Divisions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Organization Divisions</h1>

<form method="get" asp-controller="OrgDivision" asp-action="Index">
    <input type="text" class="mb-2" name="searchTerm" placeholder="Search..." value="@ViewContext.HttpContext.Request.Query["searchTerm"]" />
    <button type="submit">Search</button>
</form>

<table class="table">
    <a asp-controller="OrgDivision" asp-action="AddOrgDivision" class="btn btn-primary">Add New</a>
    <thead>
        <tr>
            <th>Name</th>
            <th>Create By</th>
            <th>Create Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var division in Model)
        {
            <tr>
                <td>@division.Name</td>
                <td>@division.CreateByName</td>
                <td>@division.CreateDate</td>
                <td>
                    <a asp-controller="OrgDivision" asp-action="UpdateOrgDivision" asp-route-id="@division.Id" class="btn btn-primary">Update</a>
                    <button type="button" class="btn btn-danger deleteButton" data-id="@division.Id" data-delete-url="@Url.Action("DeleteOrgDivision", "OrgDivision")">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/deleteConfirmation.js"></script>
}


